.hui-button{
    width: 100px;
    height: 40px;
    outline: none;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 16px;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hui-button-size-normal{
}

.hui-button-size-small{
    width: 75px;
    height: 30px;
    font-size: 14px;
}

.hui-button-size-large{
    width: 100%;
    height: 40px;
}

.hui-button-type-default{
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
}

.hui-button-type-primary{
    background-color: #000;
    border: 1px solid #eee;
    color: #fff;
}

.hui-button-type-warn{
    background-color: #ff0000;
    border: 1px solid #ff0000;
    color: #fff;
}

.hui-button-border-type-default{
    background-color: transparent;
    border: 1px solid #000;
    color: #333;
}

.hui-button-border-type-primary{
    background-color: transparent;
    border: 1px solid #000;
    color: #333;
}

.hui-button-border-type-warn{
    background-color: transparent;
    border: 1px solid #ff0000;
    color: #333;
}

.hui-button-disabled{
    opacity: 0.7;
}

.hui-button-circle{
    border-radius: 20px;
}