.button-demo {
    padding: 0 12px;
}

.group {
    margin: 15px 0;
}

.hui-button-size-small {
    margin-right: 5px;
}

.hui-button-size-normal {
    margin-right: 5px;
}

.hui-button-size-large {
    margin-bottom: 5px;
}